@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #030328;

  font-family: 'Questrial', 'sans-serif', 'Trebuchet MS';
}

.indicator.active{
  color: #cfcfcf;
}

.question {
  height: 0;
}

.question.active{
  height: 90px;
  
}

.question.activeQ5{
  height: 370px;
  
}

@media (max-width: 480px) {
  .question.active{
    height: 140px;
    
  }
  
  .question.activeQ5{
    height: 1130px;
    
  }
}
